;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies
 [[devcards "0.2.6"]
  [reagent "1.0.0"]
  [cider/cider-nrepl "0.22.4"]]

 :nrepl {:port 3333}

 :dev-http {8080 "docs"}

 :jvm-opts ["-Xmx512M"]

 :builds
 {:devcards
  {:target :browser
   :output-dir "docs/devcards/js"
   :asset-path "devcards/js"
   :modules {:main {:init-fn seven-guis.devcards/main}}
   :dev {:compiler-options {:devcards true}}}
  :cells-evaluation
  {:target :bootstrap
   :output-dir "docs/cells-evaluation"
   :entries [cljs.js]
   :exclude #{cljs.js}}}}
